<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet AGL3</title>
 
  <link href="before_connexion.css" rel="stylesheet">

</head>
<body>
    <main id="main" class="conteneur_connect" >
        <section class="section">
          <div class="row align-items-top div_containt" >
           
           <div id="title_page"> 
              <span>Bienvenue sur</span> <span><strong id="title-tunis">Doc à Tunis</strong></span>
            </div>
           <div id="enBasTitle_page">
                <div class="connectez-vous">
                    <p>Connectez vous en tant que </p>
                </div>
                <div id="option_connexion">
                     
                        <ul>
                            <li><a href="page_connexion.html">Président de jury</a></li>
                            <li><a href="page-connexionResponsableInspection.html">Responsable de projection</a></li>
                            <li><a href="">Responsable de production</a></li> 
                        </ul>
                     
                </div>
           </div>
           <div class="containeur_bouton_connexion">
            <button class="btn-visiter">
                Visiter <img src="./static/icons/next.png" alt="">
            </button>
           </div>
    
          </div>
        </section>
    
      </main><!-- End #main -->
</body>
</html>