<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Detail_Realisateur.css">
    <title>Détails Réalisateur</title>
</head>
<body>
    <div class="buttonBack">
        <a href="#">
            <img src="./static/icons/Group 96.svg" alt="">
        </a>
    </div>

    <main>
        <div class="partUn">
            <div class="photo">
                <img src="" alt="image">
            </div>
            <div class="detail">
                <div class="nom">
                    <p >Nom & prénom</p>
                    <p class="nom">NOUHO ADAMA KOUAKOU</p>
                </div>
                <div class="date">
                    <p>Date Naissance</p>
                    <p><span>12</span>/ <span>11</span>/ <span>2004</span></p>
                </div>
                <div class="NbreFilm">
                    <p>Nombre de film réalisés</p>
                    <p>3</p>
                </div>
                <div class="like">
                    <p>Nombre de like</p>
                    <p>203</p>
                </div>
                </div>
        </div>
        <h3 class="frealise">Films réalisés</h3>
        <div class="partDeux">
            <div class="profile">
               <div class="img">
                <img src="./static/images/Avatar_cover.jpg" alt="">
               </div>
                <h3 class="avatar">Avatar</h3>
                <div class="bloc1 ">
                    <div class="cont cont1">
                        <img src="./static/icons/video.svg" class="co" alt="">
                        <p>Nouho adama</p>
                    </div>
                    <div class="cont">
                        <img src="./static/icons/video2.svg" alt="">
                        <p>Nouho adama</p>
                    </div>
                </div>  
            </div>
            <div class="profile">
               <div class="img">
                <img src="./static/images/film2.png" alt="">
               </div>
                <h3 class="avatar">Avatar</h3>
                <div class="bloc1 ">
                    <div class="cont cont1">
                        <img src="./static/icons/video.svg" class="co" alt="">
                        <p>Nouho adama</p>
                    </div>
                    <div class="cont">
                        <img src="./static/icons/video2.svg" alt="">
                        <p>Nouho adama</p>
                    </div>
                </div>  
            </div>
            <div class="profile">
               <div class="img">
                <img src="./static/images/film3.png" alt="">
               </div>
                <h3 class="avatar">Avatar</h3>
                <div class="bloc1 ">
                    <div class="cont cont1">
                        <img src="./static/icons/video.svg" class="co" alt="">
                        <p>Nouho adama</p>
                    </div>
                    <div class="cont">
                        <img src="./static/icons/video2.svg" alt="">
                        <p>Nouho adama</p>
                    </div>
                </div>  
            </div>
            <div class="profile">
               <div class="img">
                <img src="./static/images/film2.png" alt="">
               </div>
                <h3 class="avatar">Avatar</h3>
                <div class="bloc1 ">
                    <div class="cont cont1">
                        <img src="./static/icons/video.svg" class="co" alt="">
                        <p>Nouho adama</p>
                    </div>
                    <div class="cont">
                        <img src="./static/icons/video2.svg" alt="">
                        <p>Nouho adama</p>
                    </div>
                </div>  
            </div>
            <div class="profile">
               <div class="img">
                <img src="./static/images/film3.png" alt="">
               </div>
                <h3 class="avatar">Avatar</h3>
                <div class="bloc1 ">
                    <div class="cont cont1">
                        <img src="./static/icons/video.svg" class="co" alt="">
                        <p>Nouho adama</p>
                    </div>
                    <div class="cont">
                        <img src="./static/icons/video2.svg" alt="">
                        <p>Nouho adama</p>
                    </div>
                </div>  
            </div>
            <div class="profile">
               <div class="img">
                <img src="./static/images/Avatar_cover.jpg" alt="">
               </div>
                <h3 class="avatar">Avatar</h3>
                <div class="bloc1 ">
                    <div class="cont cont1">
                        <img src="./static/icons/video.svg" class="co" alt="">
                        <p>Nouho adama</p>
                    </div>
                    <div class="cont">
                        <img src="./static/icons/video2.svg" alt="">
                        <p>Nouho adama</p>
                    </div>
                </div>  
            </div>
        </div>
    </main>

</body>
</html>