<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Detail_film.css">
    <title>Details film</title>
</head>
<body>
    <div class="buttonBack">
        <a href="#">
            <img src="./static/icons/Group 96.svg" alt="">
        </a>
    </div>

    <main>
        <div class="bloc">
            <div class="picture">
               <img src="./static/images/Avatar_cover.jpg" alt="">
            </div>
            <div class="detail">
                <h1>Avatar</h1>
                <p>Réalisateur</p>
                <div class="circleOne">
                    <p class="circle"></p>
                    <p>Nouho Adama</p>
                </div>
                <p>Producteur</p>
                <div class="circleTwo">
                    <p class="circle"></p>
                    <p>Akre Ange</p>
                </div>
                <div class="notation">
                    <div class="partOne">
                        <div class="smallCircle"></div>
                        <p>3.5</p>
                        <img src="./static/icons/Group 6.svg" alt="icone etoil">
                        <div class="smallCircle"></div>
                        <p>58</p>
                        <img src="./static/icons/Vector.svg" alt="">
                    </div>
                </div>
        </div>
        </div>
        <div class="description">
            <h2>Description</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit accusamus
                     voluptate totam alias rerum debitis adipisci iure enim architecto quis, 
                     nostrum, consequatur, fuga recusandae obcaecati? Adipisci iste doloribus 
                     labore est magnam obcaecati porro, nam quis ratione delectus qui harum enim
                      ipsum perferendis nobis deserunt, a, dolorum aperiam tenetur amet libero?
                </p>
        </div>
    </main>
</body>
</html>