<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="noter_doc.css">
</head>
<body>
    <main>
        <div class="left_arrow_container">
           <a href=""> <div class="back_button">
                <img src="static/icons/Flêche_gauche.png" alt="">
            </div>
        </a>
        </div>

        <div class="page_name">
            <h2>NOTER <span>AVATAR</span></h2>
        </div>

        <div class="form_container">
            <form action="" method="post">

                <div class="note">
                    <div class="select-container">
                        <select>
                          <option>Jury</option>
                          <option>Jury 1</option>
                          <option>Jury 2</option>
                          <option>Jury 3</option>
                          <option>Jury 4</option>
                          <option>Jury 5</option>
                        </select>
                      </div> 
                      <input type="number" name="note_1" class="number-input" min="1" max="5" value="1">
                </div>

                <div class="note">
                    <div class="select-container">
                        <select>
                          <option>Jury</option>
                          <option>Jury 1</option>
                          <option>Jury 2</option>
                          <option>Jury 3</option>
                          <option>Jury 4</option>
                          <option>Jury 5</option>
                        </select>
                      </div> 
                      <input type="number" name="note_2" class="number-input" min="1" max="5" value="1">
                </div>

                <div class="note">
                    <div class="select-container">
                        <select>
                          <option>Jury</option>
                          <option>Jury 1</option>
                          <option>Jury 2</option>
                          <option>Jury 3</option>
                          <option>Jury 4</option>
                          <option>Jury 5</option>
                        </select>
                      </div> 
                      <input type="number" name="note_3" class="number-input" min="1" max="5" value="1">
                </div>

                <div class="note">
                    <div class="select-container">
                        <select>
                          <option>Jury</option>
                          <option>Jury 1</option>
                          <option>Jury 2</option>
                          <option>Jury 3</option>
                          <option>Jury 4</option>
                          <option>Jury 5</option>
                        </select>
                      </div> 
                      <input type="number" name="note_4" class="number-input" min="1" max="5" value="1">
                </div>

                <div class="note">
                    <div class="select-container">
                        <select>
                          <option>Jury</option>
                          <option>Jury 1</option>
                          <option>Jury 2</option>
                          <option>Jury 3</option>
                          <option>Jury 4</option>
                          <option>Jury 5</option>
                        </select>
                      </div> 
                      <input type="number" name="note_5" class="number-input" min="1" max="5" value="1">
                </div>

                <div class="button_container">
                    <button type="submit">
                        <h2>Enregistrer</h2>
                        <img src="static/icons/Play_icon.png" alt="">
                    </button>
                    
                </div>
                
                
                
            </form>
        </div>
        

    </main>
</body>
</html>