<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link href="page_connexion.css" rel="stylesheet">


</head>
<body>
    <main id="main">
        <section class="section"> 
            <h1>Connectez vous en tant que <strong>Jury</strong></h1>

            <form action="" id="leForm">
               
                <div class="groupelt">
                    <input id="elt1"  class="form-control" type="text" placeholder="Identifiant" type="email">
                    <input id="elt2" class="form-control" type="text" placeholder="Mot de passe" type="password">
                </div>
                <button class="btn-visiter">
                    <a href="accueil-presidentjyry.html"> Se connecter <img src="./static/icons/next.png" alt="" ></a>
                </button>
            </form>
        </section>
    </main>
</body>
</html>