<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="resp_insp.css">

</head>
<body>
      <main>

        <!-- Partie Gauche -->
        <div class="dashboard">
            <div class="dashboard_container">
            <header>
                <div class="icon">
                </div>
                <h2>Doc à Tunis</h2>
            </header>

            <div class="items">
                <ul>
                    <a href="#" class="item item_active"><li > <img src="static/icons/Play_icon.png" alt=""> <h2> Voir Documentaire </h2> </li></a>
                    <a href="#" class="item" > <li> <img src="static/icons/Calendar_icon.png" alt=""> <h2>Planning</h2> </li> </a>
                    <a href="#" class="item" > <li> <img src="static/icons/Plus_icon.png" alt=""> <h2>Gérer notes.</h2> </li> </a>
                    <a href="#" class="item" > <li> <img src="static/icons/Étoile_icon.png" alt=""> <h2>Noter</h2> </li> </a>
                    <div class="simple_divider horizontal"></div>   
                    <a href="#" class="item" > <li> <img src="static/icons/Profile_icon.png" alt=""> <h2>Profile</h2> </li> </a> 
                    <a href="#" class="item" > <li> <img src="static/icons/Deconnexion_icon.png" alt=""> <h2>Deconnexion</h2> </li> </a> 

                </ul>
            </div>

        </div>
            
        </div>

        <!-- Partie Droite -->
        <div class="right_side">
            <div class="main_container">

                <header>
                    <div class="first_header">
                        <div class="title">
                            <h2>Connecté en tant que <span>Jury</span></h2>
                        </div>

                        <div class="search_container">
                            <img src="static/icons/Recherche_icon.png" alt="">
                            <form action="" method="post">
                                <input type="text" placeholder="Rechercher film, réalisateur, producteur">
                            </form>
                        </div>

                        <div class="infos_container">
                            <div class="profile_picture">
                            </div>
                            <h2>ANGE DAVID<br>AKRE</h2>
                        </div>
                    </div>

                    <div class="carrousel" style="object-fit: cover;display: flex;flex-direction: column;">
                        <img src="static/images/firstimage.png" alt="" style="max-width:100%;max-height:100%">
                    </div>
                </header>
               
                <div class="catalog">
                    <div class="first_row">
                        <h2>Parcourez les documentaires</h2>
                        <div class="show_all_button">
                            <h2>
                                Catalogue  ></h2>
                        </div>
                    </div>
                    
                    <div class="second_row">
                        <div class="movie_row">
                            
                            <div class="movie_item">
                                <div class="movie_cover"> 
                                    <img src="static/images/film1.png" alt="">  
                                </div>

                                <h2>Avatar</h2>
                                
                                <div class="movie_infos">
                                    <div class="maker_profile_photo">
                                        
                                    </div>
                                    <div class="movie_surplus">
                                        <div class="certification_check"></div>
                                        <h2>Nouho Adam</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="movie_item">
                                <div class="movie_cover">   
                                    <img src="static/images/film9.png" alt="">
                                </div>

                                <h2>Avatar</h2>
                                
                                <div class="movie_infos">
                                    <div class="maker_profile_photo">
                                    </div>
                                    <div class="movie_surplus">
                                        <div class="certification_check"></div>
                                        <h2>Nouho Adam</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="movie_item">
                                <div class="movie_cover"> 
                                    <img src="static/images/f2-large.png" alt="">  
                                </div>

                                <h2>Avatar</h2>
                                
                                <div class="movie_infos">
                                    <div class="maker_profile_photo">
                                    </div>
                                    <div class="movie_surplus">
                                        <div class="certification_check"></div>
                                        <h2>Nouho Adam</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="movie_item">
                                <div class="movie_cover">  
                                    <img src="static/images/Avatar_cover.jpg" alt=""> 
                                </div>

                                <h2>Avatar</h2>
                                
                                <div class="movie_infos">
                                    <div class="maker_profile_photo">
                                    </div>
                                    <div class="movie_surplus">
                                        <div class="certification_check"></div>
                                        <h2>Nouho Adam</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="movie_item">
                                <div class="movie_cover">   
                                </div>

                                <h2>Avatar</h2>
                                
                                <div class="movie_infos">
                                    <div class="maker_profile_photo">
                                    </div>
                                    <div class="movie_surplus">
                                        <div class="certification_check"></div>
                                        <h2>Nouho Adam</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="movie_item">
                                <div class="movie_cover">   
                                </div>

                                <h2>Avatar</h2>
                                
                                <div class="movie_infos">
                                    <div class="maker_profile_photo">
                                    </div>
                                    <div class="movie_surplus">
                                        <div class="certification_check"></div>
                                        <h2>Nouho Adam</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="movie_item">
                                <div class="movie_cover">   
                                </div>

                                <h2>Avatar</h2>
                                
                                <div class="movie_infos">
                                    <div class="maker_profile_photo">
                                    </div>
                                    <div class="movie_surplus">
                                        <div class="certification_check"></div>
                                        <h2>Nouho Adam</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="movie_item">
                                <div class="movie_cover">   
                                </div>

                                <h2>Avatar</h2>
                                
                                <div class="movie_infos">
                                    <div class="maker_profile_photo">
                                    </div>
                                    <div class="movie_surplus">
                                        <div class="certification_check"></div>
                                        <h2>Nouho Adam</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="movie_item">
                                <div class="movie_cover">   
                                </div>

                                <h2>Avatar</h2>
                                
                                <div class="movie_infos">
                                    <div class="maker_profile_photo">
                                    </div>
                                    <div class="movie_surplus">
                                        <div class="certification_check"></div>
                                        <h2>Nouho Adam</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="movie_item">
                                <div class="movie_cover">   
                                </div>

                                <h2>Avatar</h2>
                                
                                <div class="movie_infos">
                                    <div class="maker_profile_photo">
                                    </div>
                                    <div class="movie_surplus">
                                        <div class="certification_check"></div>
                                        <h2>Nouho Adam</h2>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>

                </div>

            </div>
           
        </div>
      </main>
</body>
</html>