<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="visiteur_page.css">
    
</head>
<body>
    
    <main>

            
        </div>

        <!-- Partie Droite -->
         <div class="right_side">

            <div class="main_container">

                <header>
                    <div class="first_header">
                        <div class="title">
                            <h2>Connecté en tant que <span>Jury</span></h2>
                        </div>

                        <div class="search_container">
                            <img src="static/icons/Recherche_icon.png" alt="">
                            <form action="" method="post">
                                <input type="text" placeholder="Rechercher film, réalisateur, producteur">
                            </form>
                        </div>


                        <div class="infos_container">
                            <div class="profile_picture">
                            </div>
                            <h2>KPASSOKRO<br>BRYAN</h2>
                        </div>
                    </div>


                </header>
                <section id="section_carousel">
                    <img src="" alt="">
                </section>
                <section>
                
                    <div class="first_row">
                        <h2>Parcourez les documentaires</h2>
                        <div class="show_all_button">
                            <h2>
                                Voir tout  ></h2>
                        </div>
                    </div>
                </section>
                <div class="movie_part">

                    <div class="movies_container">

                       
                        <div class="movie_item">
                            <a href="#">  <div class="movie_cover">
                               <div class="image"><img src="static/images/Avatar_cover.jpg" alt=""></div> 
                                <div class="edit_container"> 
                                <a href="" id="notevalue">
                                    
                                    <p>399</p>
                                    <img src="static/icons/heart.png" alt="">
                                </a> 
                                </div>
                            </div></a>
                          <a href=""> <h2 class="movie_name">Avatar</h2> </a>
                            <div class="movie_makers">
                             <a href=""> <div class="maker"> <img src="static/icons/Camera_icon.png" alt=""><h2>Modeste Kassem (R)</h2></div> </a>
                               <a href=""> <div class="producer"> <img src="static/icons/Video_icon.png" alt=""><h2>Gakpa Ésaie (P)</h2></div> </a>
                            </div>
                        </div>
                        <div class="movie_item">
                            <a href="#">  <div class="movie_cover">
                               <div class="image"><img src="static/images/Avatar_cover.jpg" alt=""></div> 
                                <div class="edit_container"> 
                                <a href="">
                                    <img src="static/icons/heart.png" alt="">
                                </a> 
                                </div>
                            </div></a>
                          <a href=""> <h2 class="movie_name">Avatar</h2> </a>
                            <div class="movie_makers">
                             <a href=""> <div class="maker"> <img src="static/icons/Camera_icon.png" alt=""><h2>Modeste Kassem (R)</h2></div> </a>
                               <a href=""> <div class="producer"> <img src="static/icons/Video_icon.png" alt=""><h2>Gakpa Ésaie (P)</h2></div> </a>
                            </div>
                        </div>
                        <div class="movie_item">
                            <a href="#">  <div class="movie_cover">
                               <div class="image"><img src="static/images/Avatar_cover.jpg" alt=""></div> 
                                <div class="edit_container"> 
                                <a href="">
                                    <img src="static/icons/Modifier_icon.png" alt="">
                                </a> 
                                </div>
                            </div></a>
                          <a href=""> <h2 class="movie_name">Avatar</h2> </a>
                            <div class="movie_makers">
                             <a href=""> <div class="maker"> <img src="static/icons/Camera_icon.png" alt=""><h2>Modeste Kassem (R)</h2></div> </a>
                               <a href=""> <div class="producer"> <img src="static/icons/Video_icon.png" alt=""><h2>Gakpa Ésaie (P)</h2></div> </a>
                            </div>
                        </div>
                        <div class="movie_item">
                            <a href="#">  <div class="movie_cover">
                               <div class="image"><img src="static/images/Avatar_cover.jpg" alt=""></div> 
                                <div class="edit_container"> 
                                <a href="">
                                    <img src="static/icons/Modifier_icon.png" alt="">
                                </a> 
                                </div>
                            </div></a>
                          <a href=""> <h2 class="movie_name">Avatar</h2> </a>
                            <div class="movie_makers">
                             <a href=""> <div class="maker"> <img src="static/icons/Camera_icon.png" alt=""><h2>Modeste Kassem (R)</h2></div> </a>
                               <a href=""> <div class="producer"> <img src="static/icons/Video_icon.png" alt=""><h2>Gakpa Ésaie (P)</h2></div> </a>
                            </div>
                        </div>
                        <div class="movie_item">
                            <a href="#">  <div class="movie_cover">
                               <div class="image"><img src="static/images/Avatar_cover.jpg" alt=""></div> 
                                <div class="edit_container"> 
                                <a href="">
                                    <img src="static/icons/Modifier_icon.png" alt="">
                                </a> 
                                </div>
                            </div></a>
                          <a href=""> <h2 class="movie_name">Avatar</h2> </a>
                            <div class="movie_makers">
                             <a href=""> <div class="maker"> <img src="static/icons/Camera_icon.png" alt=""><h2>Modeste Kassem (R)</h2></div> </a>
                               <a href=""> <div class="producer"> <img src="static/icons/Video_icon.png" alt=""><h2>Gakpa Ésaie (P)</h2></div> </a>
                            </div>
                        </div>
                        <div class="movie_item">
                            <a href="#">  <div class="movie_cover">
                               <div class="image"><img src="static/images/Avatar_cover.jpg" alt=""></div> 
                                <div class="edit_container"> 
                                <a href="">
                                    <img src="static/icons/Modifier_icon.png" alt="">
                                </a> 
                                </div>
                            </div></a>
                          <a href=""> <h2 class="movie_name">Avatar</h2> </a>
                            <div class="movie_makers">
                             <a href=""> <div class="maker"> <img src="static/icons/Camera_icon.png" alt=""><h2>Modeste Kassem (R)</h2></div> </a>
                               <a href=""> <div class="producer"> <img src="static/icons/Video_icon.png" alt=""><h2>Gakpa Ésaie (P)</h2></div> </a>
                            </div>
                        </div>
                        <div class="movie_item">
                            <a href="#">  <div class="movie_cover">
                               <div class="image"><img src="static/images/Avatar_cover.jpg" alt=""></div> 
                                <div class="edit_container"> 
                                <a href="">
                                    <img src="static/icons/Modifier_icon.png" alt="">
                                </a> 
                                </div>
                            </div></a>
                          <a href=""> <h2 class="movie_name">Avatar</h2> </a>
                            <div class="movie_makers">
                             <a href=""> <div class="maker"> <img src="static/icons/Camera_icon.png" alt=""><h2>Modeste Kassem (R)</h2></div> </a>
                               <a href=""> <div class="producer"> <img src="static/icons/Video_icon.png" alt=""><h2>Gakpa Ésaie (P)</h2></div> </a>
                            </div>
                        </div>

                        
                       

                        

                    </div>

                </div>

                


            </div>

            
         </div>

    </main>

</body>
</html>