<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="visiteur_page.css">
</head>
<body> 
    <main> 
        <header>
            <nav class="navbar">
                <ul class="nav-links">
                    <li><a href="#home">Accueil</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#about">À Propos</a></li>
                    <li><a href="#contact">Contact</a></li>
                  </ul>
             
              <div class="search_container">
                <img src="static/icons/Recherche_icon.png" alt="Recherche" class="search_icon">
                <form action="" method="post">
                  <input type="text" placeholder="Rechercher film, réalisateur, producteur">
                </form>
                <img src="static/icons/Recherche_icon.png" alt="Recherche" class="search_icon">
              </div>
             
            </nav>
        </header>      
        <section >
            <section id="section_carousel">
                <img src="" alt="">
            </section>
            <section id="grid_item">
               
               <div class="movie_item">
                            <a href="#">  
                                <div class="movie_cover">
                                    <div class="image">
                                        <img src="static/images/Avatar_cover.jpg" alt="">
                                    </div> 
                               </div>
                            </a>
                            
                                <a href="" id="title_movie"> 
                                    <h2 class="movie_name">Avatar</h2> 
                                    <img src="static/icons/verified.png" alt="">
                                </a>
                            
                            <div class="movie_makers">
                             <a href=""> <div class="maker"> <img src="static/icons/Camera_icon.png" alt=""><h2>Modeste Kassem (R)</h2></div> </a>
                               <a href=""> <div class="producer"> <img src="static/icons/Video_icon.png" alt=""><h2>Gakpa Ésaie (P)</h2></div> </a>
                            </div>
                        </div>
                        
               <div class="movie_item">
                <a href="#">  <div class="movie_cover">
                   <div class="image"><img src="static/images/Avatar_cover.jpg" alt=""></div> 
                    <div class="edit_container"> 
                     
                    </div>
                </div></a>
              <a href=""> <h2 class="movie_name">Avatar</h2> </a>
                <div class="movie_makers">
                 <a href=""> <div class="maker"> <img src="static/icons/Camera_icon.png" alt=""><h2>Modeste Kassem (R)</h2></div> </a>
                   <a href=""> <div class="producer"> <img src="static/icons/Video_icon.png" alt=""><h2>Gakpa Ésaie (P)</h2></div> </a>
                </div>
            </div>
            
            <div class="movie_item">
                <a href="#">  <div class="movie_cover">
                   <div class="image"><img src="static/images/Avatar_cover.jpg" alt=""></div> 
                    <div class="edit_container"> 
                     
                    </div>
                </div></a>
              <a href=""> <h2 class="movie_name">Avatar</h2> </a>
                <div class="movie_makers">
                 <a href=""> <div class="maker"> <img src="static/icons/Camera_icon.png" alt=""><h2>Modeste Kassem (R)</h2></div> </a>
                   <a href=""> <div class="producer"> <img src="static/icons/Video_icon.png" alt=""><h2>Gakpa Ésaie (P)</h2></div> </a>
                </div>
            </div>
            
            <div class="movie_item">
                <a href="#">  <div class="movie_cover">
                   <div class="image"><img src="static/images/Avatar_cover.jpg" alt=""></div> 
                    <div class="edit_container"> 
                     
                    </div>
                </div></a>
              <a href=""> <h2 class="movie_name">Avatar</h2> </a>
                <div class="movie_makers">
                 <a href=""> <div class="maker"> <img src="static/icons/Camera_icon.png" alt=""><h2>Modeste Kassem (R)</h2></div> </a>
                   <a href=""> <div class="producer"> <img src="static/icons/Video_icon.png" alt=""><h2>Gakpa Ésaie (P)</h2></div> </a>
                </div>
            </div>
            
            <div class="movie_item">
                <a href="#">  <div class="movie_cover">
                   <div class="image"><img src="static/images/Avatar_cover.jpg" alt=""></div> 
                    <div class="edit_container"> 
                     
                    </div>
                </div></a>
              <a href=""> <h2 class="movie_name">Avatar</h2> </a>
                <div class="movie_makers">
                 <a href=""> <div class="maker"> <img src="static/icons/Camera_icon.png" alt=""><h2>Modeste Kassem (R)</h2></div> </a>
                   <a href=""> <div class="producer"> <img src="static/icons/Video_icon.png" alt=""><h2>Gakpa Ésaie (P)</h2></div> </a>
                </div>
            </div>
            
            <div class="movie_item">
                <a href="#">  <div class="movie_cover">
                   <div class="image"><img src="static/images/Avatar_cover.jpg" alt=""></div> 
                    <div class="edit_container"> 
                     
                    </div>
                </div></a>
              <a href=""> <h2 class="movie_name">Avatar</h2> </a>
                <div class="movie_makers">
                 <a href=""> <div class="maker"> <img src="static/icons/Camera_icon.png" alt=""><h2>Modeste Kassem (R)</h2></div> </a>
                   <a href=""> <div class="producer"> <img src="static/icons/Video_icon.png" alt=""><h2>Gakpa Ésaie (P)</h2></div> </a>
                </div>
            </div>
            </section>
        </section>

    </main>
</body>
</html>